/* Pathfinder Styles */
body {
	background-color: #c3b091;
	padding: 15px;
	width: 800px;
	border: 1px solid black;
	}
h1   {
	color: blue;
	}

div.cf_wrapper {
  position: absolute;
  left: 10%;
}
	
.r {
	text-align: right;
}

.loginbox {
	float:right; 
    clear:right; 
	margin-top: -50px;
	border: 1px solid #ccc;
	padding: 2px;
}

table {
    border-collapse: collapse;
	border: 1px solid black;
}

tr td {
	border: 1px solid black;
}

ul.dev {
	color: green;
	font-size: large;
}